	/*header*/

.logo {
	background: #0020F4;
	width: 115px;
	height: 65px;

}
.navigation-line  {
	background: #0020F4;
	margin: 17px 500px 10px 130px;
	padding: 100px;
}
.mtavari {
	width: 70px;
	border-: 20px;
}
.chven-shesaxeb {
	width: 95px;
}
.servisi {
	width: 82px;
}
.proeqtebi {
	width: 91px;
}
.partniorebi {
	width: 113px;
}
.nav {
 	color:#FFFFFF ;
 	height: 18px;
}
.contact {
	color: #171717;
	background: #FFFFFF;
	border-radius: 15px;
	}

			/*section*/

.construction {
	max-width: 1195px;
	height: 600px;
	object-fit: cover;
	border-radius: 15px;
	margin: 0px 105px 2px;
}
.image-text {
	color: #171717;
	font-size: 28px;
	width: 714px;
	height: 33px;
	margin: 2px 110px;
}

.new-building {
	width: 219px;
	height: 219px;
	object-fit: cover;
	border-radius: 15px;
	padding: 7px;
}
.text {
	font-size: 16px;
	color: #171717;
	text-transform: uppercase;
/*	margin-left: auto;	
	margin-right: auto;*/
	margin: 0px 360px 18px;

}
.div-images {
	margin: 10px 100px;
}

.add {
 text-align: center;
 background-color: #0A22F4;
 color: #FFFFFF;
 border-radius: 500px;
}


