/*header*/
a {
	text-decoration: none;
}
.navigation {
	list-style-type: none;
	background: black;
}
.function {
	color: white;
}
.ul-types {
	color: white;
}
.search {
	color: darkred;
}
.logo {
	background: black;
}
.guys {
	width: max(600px,1920px );
	height: 2px;

}